node_modules
.env
.env.*

#Hardhat files
cache
artifacts

# vite
.DS_Store
dist
dist-ssr
*.local
yarn-error.log

# netflify api
.netlify
functions/

# cloudflare
/cloudflare/target
/cloudflare/dist
**/*.rs.bk
Cargo.lock
bin/
pkg/
wasm-pack.log
worker/
node_modules/
.cargo-ok
